<%-include('../../partials/header')%>
<%-include('../../partials/navbar')%>
<div class="container">
    <div class="card">

    <div class="card-body">
    <h2>Usuários</h2>
    <a class="btn btn-success" href="/admin/users/create">Criar novo usuário</a><hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user=>{%>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.email%></td>
            </tr>                
            <%}) %>
        </tbody>
    </table>
    </div>
</div>
</div>
<%-include('../../partials/footer')%>
